# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/GraphQL/node_modules
/ssr/node_modules
/ssr/.pnp
.pnp.js

# testing
/coverage

# production
/ssr/build

# misc
/ssr/.DS_Store
/ssr/.env.local
/ssr/.env.development.local
/ssr/.env.test.local
/ssr/.env.production.local

/ssr/npm-debug.log*
/ssr/yarn-debug.log*
/ssr/yarn-error.log*
