html, body{
    width : 100%;
    font-family: Helvetica, sans-serif;
}
.center-body{
    margin : 50px auto 200px;
    width : 80%;

}
.product-grid{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}
.breadcrumb-wrapper{
    margin: 50px 10% 0;
}
.breadcrumb{
    background: white;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.breadcrumb-item{
    margin : 8px 0 0 4px;
}
.breadcrumb-item a{
    text-decoration: none;
    color : rgb(102, 102, 102);
}
.breadcrumb-item.active{
    color : rgb(22, 22, 22);
}
.search-result p{
    font-size : 22px;
    color : rgb(22, 22, 22);
    font-weight: 400;
}